:root{
    --colorIcono: #6ACBE0;
}

html {
        font-size: 12px;
    }

border {
    font-family: 'cabinbold';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'cabin_mediumregular';
}





.img-responsive {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100vh;
    /*propiedd de recortepara divisores*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    /*propiedd para degradados*/
    background: rgba(18, 112, 227, 1);
    background: -moz-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18, 112, 227, 1)), color-stop(100%, rgba(89, 194, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: linear-gradient(to right, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1270e3', endColorstr='#59c2ff', GradientType=1);
}

.contenedor {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

nav {
    display: flex;
    /* NOS AHORRAMOS UNA INSTRUCCION CON EL FLEX-FLOW: ROW WRAP;
flex-direction: row;
    flex: wrap;
*/
    flex-flow: row wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    height: 70px;
}

#logoNav {
    flex: 0 1 120px;
}

#menuDesktop {
    flex: 0 1 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

#menuDesktop a {
    color: white;
    text-decoration: none;
}


#contenedor-header {
    flex: 0 1 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#relojHeader {
    flex: 0 1 calc(100% - 1rem);
}

#txtreloj {
    flex: 0 1 calc(100% - 1rem);
    align-self: flex-start;
    color: white;
}

#txtreloj h2 {
    font-size: 2rem;
}

a.buy {
    width: 115px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B3B3B;
    background: rgba(255, 223, 64, 1);
    background: -moz-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 223, 64, 1)), color-stop(100%, rgba(255, 131, 89, 1)));
    background: -webkit-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf40', endColorstr='#ff8359', GradientType=1);
    text-decoration: none;
    color: #3B3B3B;
}


.contenedor-features {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    margin: 2rem 0;
}

.serv-icon {
    width: 20%;
    display: block;
    margin: 0 auto;
}

.boxFeature {
    flex: 0 1 calc(100% - 1rem);
    margin: 1rem 0;

}
.boxFeature h3{
    font-family: 'cabin_mediumregular';
    color: #707070;
    text-align: center;

}



#features h2 {
    flex: 0 1 100%;
    color: #707070;
    text-align: center;

}

#features p {
    color: #707070;
    text-align: center;
}

.full {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    padding: 3rem 0;
}

#product h2{
    text-align: center;
    font-size: 3rem;
    padding: 6.5rem 0;
    color: white;
    flex-basis: 100%;
    order: 2;
}

#product {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    background: rgba(245,49,127,1);
background: -moz-linear-gradient(top, rgba(245,49,127,1) 0%, rgba(255,125,110,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,49,127,1)), color-stop(100%, rgba(255,125,110,1)));
background: -webkit-linear-gradient(top, rgba(245,49,127,1) 0%, rgba(255,125,110,1) 100%);
background: -o-linear-gradient(top, rgba(245,49,127,1) 0%, rgba(255,125,110,1) 100%);
background: -ms-linear-gradient(top, rgba(245,49,127,1) 0%, rgba(255,125,110,1) 100%);
background: linear-gradient(to bottom, rgba(245,49,127,1) 0%, rgba(255,125,110,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5317f', endColorstr='#ff7d6e', GradientType=0 );
}

#product h2 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    color: white;
}

.imgProduct {
    flex-basis: 100%;
    order: 1;
}

.txtProduct {
    flex-basis: 100%;
    order: 3;
    color: white;
}

.descriptionProduct {
    flex-flow: row wrap;
    flex: 0 1 100%;
    justify-content: space-between;
    align-content: space-around;
    display: flex;
}

.iconProduct {
    flex: 0 1 10%;
    padding: 1rem;
}

.txtIcon {
    flex: 0 1 80%;
}

.separador {
    width: 100%;
    height: auto;
    padding: 7rem;
}



.cajaAbout {
    flex: 0 1 calc(50% - 1rem);
    align-self: center;
}

.cajaAbout h2 {
    color: #707070;
    padding:0 2rem ;
}

.cajaAbout p {
    color: #707070;
    padding:0 2rem;
}

#products {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    background: rgba(104,89,234,1);
background: -moz-linear-gradient(left, rgba(104,89,234,1) 0%, rgba(106,202,224,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(104,89,234,1)), color-stop(100%, rgba(106,202,224,1)));
background: -webkit-linear-gradient(left, rgba(104,89,234,1) 0%, rgba(106,202,224,1) 100%);
background: -o-linear-gradient(left, rgba(104,89,234,1) 0%, rgba(106,202,224,1) 100%);
background: -ms-linear-gradient(left, rgba(104,89,234,1) 0%, rgba(106,202,224,1) 100%);
background: linear-gradient(to right, rgba(104,89,234,1) 0%, rgba(106,202,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6859ea', endColorstr='#6acae0', GradientType=1 );
}


.title {
    flex-basis: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
}

.descriptionTitle {
    flex-basis: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    color: white;
}

.cajaProduct {
     flex-basis: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: white;
}

.contenedor-products {
    justify-content: space-around;
}

.btnProduct {
    text-decoration: none;
    width: 115px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    color: white;
    margin: 0 auto;
}

.formIcon i {
    font-size: 1.5rem;
    color: var(--colorIcono);
}

.box50 {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

#contacto {
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.row {
    flex-basis: 100%;
    display: flex;
    margin-bottom: 1rem;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nombre {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.campo {
    flex: 0 1 70;
    flex-basis: 70%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.formIcon {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
}

.formInput {
    display: flex;
    justify-content: flex-start;
    flex-basis: 80%;
}
