html {
        font-size: 12px;
    }

border {
    font-family: 'cabinbold';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'cabin_mediumregular';
}



.img-responsive {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100vh;
    /*propiedd de recortepara divisores*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    /*propiedd para degradados*/
    background: rgba(18, 112, 227, 1);
    background: -moz-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18, 112, 227, 1)), color-stop(100%, rgba(89, 194, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: linear-gradient(to right, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1270e3', endColorstr='#59c2ff', GradientType=1);
}

.contenedor {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

nav {
    display: flex;
    /* NOS AHORRAMOS UNA INSTRUCCION CON EL FLEX-FLOW: ROW WRAP;
flex-direction: row;
    flex: wrap;
*/
    flex-flow: row wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    height: 70px;
}

#logoNav {
    flex: 0 1 120px;
}

#menuDesktop {
    flex: 0 1 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

#menuDesktop a {
    color: white;
    text-decoration: none;
}


#contenedor-header {
    flex: 0 1 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#relojHeader {
    flex: 0 1 calc(100% - 1rem);
}

#txtreloj {
    flex: 0 1 calc(100% - 1rem);
    align-self: flex-start;
    color: white;
}

#txtreloj h2 {
    font-size: 2rem;
}

a.buy {
    width: 115px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B3B3B;
    background: rgba(255, 223, 64, 1);
    background: -moz-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 223, 64, 1)), color-stop(100%, rgba(255, 131, 89, 1)));
    background: -webkit-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf40', endColorstr='#ff8359', GradientType=1);
    text-decoration: none;
    color: #3B3B3B;
}

