/*media query de celulares gama alta*/
@media only screen and (min-width:680px) {
    html {
        font-size: 13px;
    }

    .serv-icon {
    width: 25%;
}

}


/*media query tablet*/
@media only screen and (min-width:768px) {
    html {
        font-size: 14px;
    }
    #contenedor-header {
    flex-flow: row wrap;
}
    #relojHeader {
    flex: 0 1 calc(50% - 1rem);
    order: 0;
}

#txtreloj {
    flex: 0 1 calc(50% - 1rem);
    order: 1;
}

    .boxFeature {
    flex: 0 1 calc(50% - 1rem);
    margin: 1rem 0;

}

    .serv-icon {
    width: 30%;
}

    .imgProduct {
    flex:0 1  calc(50% - 1rem);
        order: 2;
}
    .txtProduct {
    flex:0 1  calc(50% - 1rem);
    order: 3;
}
    #product h2{
        order: 1;
    }
}

/*media query laptop*/
@media only screen and (min-width:992px) {
    html {
        font-size: 15px;
    }
    .boxFeature {
    flex: 0 1 calc(33% - 1rem);
    margin: 1rem 0;

}
}


/*media query desktop*/
@media only screen and (min-width:1200px){
    html {
        font-size: 16px;
    }
}
